@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color:#656565;
}

#nav-container {
    background-color: #FCFCFC;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #656565;
    transition: all 0.3s ease 0s;
}

.nav-list {
    font-weight: 500;
    line-height: 24.38px;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 6.875rem;
    padding: 0.5rem;
}

.nav-link:hover {
    color:#adadad;
    transform: scale(1.5);
}

.logo-header {
    transform: scale(0.75);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%, 70.35rem;)
}

.font-heading {
    font-size: 1.5rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 2.3rem;
    color: #656565;
    font-weight: 500;
}

#welcome-section >p {
    text-align: center;
    width: 31vw;
    font-weight: 400;
}

#projects {
    height: 100vh;
    width: min(80%, 60rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#project-tile {
    display: flex;
    gap: 1.5625rem;
    padding-top: 1.4375rem;
}

.project-desc {
    text-align: center;
}

.btn {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #4D5EFF;
    border-radius: 10px;
    color: #FCFCFC;
    font-size: 1.25rem;
}

#designs {
    height: 100vh;
    width: min(80%, 60rem);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.design-tile {
    display: flex;
    gap: 1.5625rem;
    padding-top: 1.4375rem;
}

.design-desc {
    text-align: center;
}

#contacts {
    width: 100%;
    max-width: 100%;
}

.contact-container {
    background-color: #656565;
    color: #FCFCFC;
    height: 50vh;
    margin-top: 5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-header {
    font-weight: 400;
}

#contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.625rem;
    padding-bottom: 2.1rem;
}

.contact-items {
    list-style: none;
    transform: scale(0.8);
}

.contact-link >img {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.contact-link >img:hover {
    transform: scale(1.15);
}

#credits {
    background-color: #414040;
    width: 100%;
    max-width: 100%;
    color: #FCFCFC;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    #nav-container {
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }
    #nav-container :nth-child(1) {
        order: 2;
        gap: 1rem;
    }

    #nav-container :nth-child(3) {
        order: 3;
    }

    .design-tile,
    #project-tile {
        transform: scale(0.5);
    }

    .btn {
        transform: scale(0.75);
    }

    #contact-list {
        flex-direction: column;
        gap: 0.5rem;
        transform: scale(0.75);
        margin: 0;
        padding: 0;
    }

    .contact-container {
        gap: 1rem;
    }
}